<section>
	<header>
		<%= logo %>
	</header>

	<article id="main">
		<h2>Want to be the <%= link_to "first to know", "javascript: void(0)", :onclick => "explodeLogo()" %> ?</h2>
		<p class="first"><span class="white">We let you be the <span class="green">first to know</span> about the best of the best deals the web has to offer!</span></p>
		<p class="second">Sign up and you won't be left out! We promise to only email you about your beta invite.</p>
		
		<div id="failure">
			<p>please enter your email address</p>
			<div id="down_arrow"></div>
		</div>
	
	<%= form_for(@user, :remote => true) do |f| %>
		<p id="form">You are known as &nbsp;
			<%= f.text_field :name, :tabindex => 1, :class => "not_selected", :autocomplete => "off" %>
			&nbsp;, and your email is &nbsp;
			<%= f.text_field :email, :tabindex => 2, :class => "not_selected", :autocomplete => "off", :onclick => "hideFailure();", :onfocus => "hideFailure()" %>
			&nbsp;.
		</p>
		<div class="actions" id="form_button">
			<%= f.submit "Send Me An Invite!", :id => "submit", :tabindex => 3 %>
		</div>
	<% end %>
	</article>
	
	<div id="success">
	</div>
	
</section>

<%= render 'time' %>

<script>
$(document).ready(function() {
	$('img#logo').effect("bounce", { times: 4 }, 300);
});
</script>